 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.balanceContainer, .amountUsedContainer, .recipientsContainer {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  background-color: #f9f9f9;
}

.barGraphContainer {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 80%;
  background-color: #f9f9f9;
}
