form {
  display: flex;
  flex-direction: column;
  width: 30%;
}
input,
select {
  margin-bottom: 2rem;
  height: 2rem;
}
button {
  height: 3rem;
  border-radius: 0.5rem;
  

}
#register {
  width: 30%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;

  align-items: center;
}
.navbar ul li {
  margin-right: 1rem;
}
.navbar ul li button {
  width: 6rem;
  background-color: red;
  border: 0;
}
